<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="/stylesheets/form.css">
   </head>

   <body>
      <form action="/new" method="post">
         <label for="author">Name</label>
         <textarea name="messageUser" id="author"></textarea>
         <label for="message">Message</label>
         <textarea name="messageText" id="message"></textarea>
         
         <button type="submit">Send</button>
      </form>
   </body>
</html>